streamlit
openai
langchain
git+https://github.com/jonabadie/openai-multi-client.git
PyMuPDF
PyPDF2
python-dotenv
psycopg2-binary
tools
tiktoken
pyvis
scikit-learn
pinecone-client
importlib-resources
matplotlib
pytz